@model CSPharmaDAL.Modelo.TdcCatEstadosPagoPedido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TdcCatEstadosPagoPedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEstadoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEstadoPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesEstadoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesEstadoPago)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MdUuid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
