@model CSPharmaDAL.Modelo.TdcTchEstadoPedido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TdcTchEstadoPedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEstadoDevolucionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEstadoDevolucionNavigation.MdUuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEstadoEnvioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEstadoEnvioNavigation.MdUuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEstadoPagoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEstadoPagoNavigation.MdUuid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodLineaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodLineaNavigation.MdUuid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MdUuid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
