@model IEnumerable<CSPharmaDAL.Modelo.TdcTchEstadoPedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodEstadoDevolucionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodEstadoEnvioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodEstadoPagoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodLineaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoDevolucionNavigation.MdUuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoEnvioNavigation.MdUuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoPagoNavigation.MdUuid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodLineaNavigation.MdUuid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MdUuid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MdUuid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MdUuid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
