@model CSPharmaDAL.Modelo.TdcCatEstadosEnvioPedido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TdcCatEstadosEnvioPedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEstadoEnvio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEstadoEnvio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesEstadoEnvio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesEstadoEnvio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MdUuid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
