@model IEnumerable<CSPharmaDAL.Modelo.TdcCatEstadosEnvioPedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodEstadoEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesEstadoEnvio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEstadoEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesEstadoEnvio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MdUuid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MdUuid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MdUuid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
